*{ margin: 0; box-sizing: border-box;
}

body, html{
	padding: 0;
}

body{
	background: linear-gradient(to bottom right, #23AE93 0%, #004482 100%);
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	padding: 0 25px;
	box-sizing: border-box;
	overflow-x: hidden;
	line-height: 1.5;
}

section{
	padding: 50px 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

ul{
	padding: 1em 0 0 1em;
}

li{
	margin-bottom: 10px;
}

.wrap{
	max-width: 600px;
	margin: 0 auto;
}

h1{
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	line-height: 1;
}

h2{
	font-size: 20px;
}

.input-wrap:nth-child(1),
.result-header{
	padding-bottom: 60px;
}

input{
	width: 100%;
	box-sizing: border-box;
	padding: 20px 30px;
	font-size: 25px;
	color: #272C30;
	border-radius: 6px;
	border: 0;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

input:focus{
	box-shadow: 0px 2px 4px rgba(0,0,0,0.75), inset 0 0 0 2px white, inset 0 0 0 5px black;
	outline: none;
}

label{
	display: block;
	padding-bottom: 15px;
}

a{
	text-decoration: none;
	background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.8) 100%);
	background-position: left 1.25em;
	background-repeat: no-repeat;
	display: inline-block;
	color: white;
	background-size: 100% 1px;
}

h2 + p{
	opacity: .7;
}

.mdl{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
}

.mdl .bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.mdl .content{
	position: relative;
	z-index: 2;
	padding-top: 50px;
	padding-bottom: 50px;
}


.mdl-visible .mdl{
	opacity: 1;
	pointer-events: all;
}

.mdl .wrap{
	padding: 0 25px;
}

.mdl-visible .bg{
	pointer-events: all;
}

.mdl-visible #main-wrap{
	-webkit-filter: blur(10px);
}

.mdl .close{
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 60px;
	font-weight: normal;
	line-height: 1;
	color: white;
	z-index: 3;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
}
